<section id="header">
    <!-- <div parallax [config]="{initialValue: 100, ratio: .7}" class="container parallel-1"> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>FROM FLAB TO FAB</h1>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <div class="crousal">
                    <div class="crousal-left"> <img src="../assets/images/fat-1.JPG"></div>
                    <div class="crousal-left"> <img src="../assets/images/fat-3.jpg"></div>
                    <div class="crousal-left"> <img src="../assets/images/fat-4.JPG"></div>
                    <div class="crousal-left"> <img src="../assets/images/fat-5.JPG"></div>
                    <div class="crousal-link">
                        <div class="crousal-link-pad">
                            <h2>Rebecca </h2>
                            <p>Lost 50 Kilo in 2 months</p>
                        </div>
                        <div class="crousal-link-pad">
                            <h2>Lori </h2>
                            <p>Lost 30 Kilo in 2 months</p>
                        </div>
                        <div class="crousal-link-pad">
                            <h2>James </h2>
                            <p>Lost 10 Kilo in 2 months</p>

                        </div>
                        <div class="crousal-link-pad">
                            <h2>Saber </h2>
                            <p>Lost 15 Kilo in 2 months</p>

                        </div>
                    </div>

                    <div class="crousal-right"> <img src="../assets/images/fit-1.JPG"></div>
                    <div class="crousal-right"> <img src="../assets/images/fit-3.JPG"></div>
                    <div class="crousal-right"> <img src="../assets/images/fit-4.JPG"></div>
                    <div class="crousal-right"> <img src="../assets/images/fit-5.JPG"></div>
                </div>
            </div>
        </div>
     
    </div>
</section>