<section id="header">
    <!-- <div parallax [config]="{initialValue: 100, ratio: .7}" class="container parallel-1"> -->
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h1>FROM FLAB TO FAB</h1>
            </div>
        </div>
     
        <div class="row">
            <div class="col d-flex justify-content-center">
            

                <div class="crousal">
                    <div class="crousal-left"> <img src="../assets/images/fat-1.jpg"></div>
                    <div class="crousal-left"> <img src="../assets/images/fat-2.jpg"></div>
                    <div class="crousal-link">
                        <div class="crousal-link-pad">
                            <h2>Bobbi Nousa </h2>
                            <p>Our 12 weeks challenge contender </p>
                        </div>
                        <div class="crousal-link-pad">
                            <h2>Dushy Blanchard </h2>
                            <p>Our 12 weeks challenge contender </p>
                        </div>
                        <div class="member">
                            <button type="button" [routerLink]="['/membership']" class="colorfullbtn">
                                Free 7-Day Trial
                            </button>
                        </div>
                    </div>

                    <div class="crousal-right"> <img src="../assets/images/fit-1.jpg"></div>
                    <div class="crousal-right"> <img src="../assets/images/fit-2.jpg"></div>
                </div>
               
            </div>
           
        </div>
     
    </div>
</section>