<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md d-flex align-items-center flex-column">
        <h2>Links</h2>
        <a [routerLink]="['/posture']">Posture</a>
        <a [routerLink]="['/posture']">Posture</a>
        <a [routerLink]="['/posture']">Posture</a>
        <a [routerLink]="['/posture']">Posture</a>
      </div>
      <div class="col-md d-flex align-items-center flex-column">
        <h2>Links</h2>
        <a [routerLink]="['/posture']">Posture</a>
        <a [routerLink]="['/posture']">Posture</a>
        <a [routerLink]="['/posture']">Posture</a>
        <a [routerLink]="['/posture']">Posture</a>
      </div>
      <div class="col-md d-flex align-items-center flex-column">
        <h2>Links</h2>
        <a [routerLink]="['/posture']">Posture</a>
        <a [routerLink]="['/posture']">Posture</a>
        <a [routerLink]="['/posture']">Posture</a>
        <a [routerLink]="['/posture']">Posture</a>
      </div>
     
      <div class="col-md d-flex align-items-center flex-column">
       <span>Social</span>
      </div>

    </div>
  </div>
</section>
