<!--Navbar-->
<section id="navbar">
  <div [@animateTrigger]="flagShowHide?'show':'hide'">
    <matt-login (close)="closeLogin($event)"></matt-login>
  </div>
  <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark grad-1 fixed-top">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="#">
        Matt</a></mdb-navbar-brand>
    <div class="d-flex mx-2 d-lg-none align-items-left">
      <button type="button" [routerLink]="['/book']" class="bookmebtn">
        Book
      </button>
    </div>

    <!-- Collapsible content -->
    <links class="d-flex justify-content-between">

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-light" [routerLink]="['/home']">About<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" [routerLink]="['/about']">Library</a>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light">
            Products</a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" [routerLink]="['/digital']">Product One</a>
          </div>
        </li>

        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-light">
            Forms</a>
          <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" [routerLink]="['/form']">Pre-Consult form</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link waves-light" [routerLink]="['/contact']">Contact</a>
        </li>


        <li class="nav-item float-right ml-0">
        </li>
      </ul>

      <!-- Links -->
      <div class="d-flex mx-2 d-none d-lg-block align-items-left">
        <button type="button" [routerLink]="['/book']" class="bookmebtn">
          Book
        </button>
      </div>

      <!-- Search form -->
      <div class="form-inline waves-light d-flex align-items-center">

        <span class="material-icons material-icons-animation-1">face</span>

        <span class="material-icons material-icons-animation-1 notification-label">
          notifications
        </span>
        <button (click)="toggleLogin()">
          <span class="material-icons material-icons-animation-1 login-label">
            login
          </span>
        </button>
        <span class="material-icons material-icons-animation-1 logout-label">
          logout
        </span>
      </div>

    </links>
    <!-- Collapsible content -->

  </mdb-navbar>
</section>
<!--/.Navbar-->