<section id="podcasts">
    <div class="container-fluid">
        <div class="row">
                    <div parallax [config]="{initialValue: 00, ratio: .5}" class="container shadow legible-dark  parallel">
                        <div class="space-3">
                        </div>
                        <div class="space-3">
                        </div>
                    </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="space-1"></div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <matt-podcasts></matt-podcasts>
            </div>
        </div>
    </div>
</section>