<section id="login">

    <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <div class="form-box">
            <div class="close-btn">
                <a (click)="closeLogin()">
                    <span class="material-icons">
                        close
                    </span>
                </a>
            </div>
            <h3>Log in</h3>
            <div class="input-box">
                <div [@labelTrigger]="animateUserName?'right':'left'" class="label-input">
                    <div class="label-input-error"
                        *ngIf="loginForm.get('userName')?.errors &&(loginForm.get('userName')?.touched || loginForm.get('userName')?.dirty); else labelUserName">
                        User Name is required</div>
                    <ng-template #labelUserName>User name</ng-template>
                </div>
                <input id="userName" (focus)="animateUserNameFn()" (mouseover)="animateUserNameFn()" type="text"
                    name="userName" formControlName="userName" required>
            </div>
            <div class="input-box">
                <div [@labelTrigger]="animatePassword?'right':'left'" class="label-input">

                    <div class="label-input-error"
                        *ngIf="loginForm.get('password')?.errors &&(loginForm.get('password')?.touched || loginForm.get('password')?.dirty); else labelPassword">
                        Password is required</div>
                    <ng-template #labelPassword>Password</ng-template>
                </div>
                <input id="password" (focus)="animatePasswordFn()" (mouseover)="animatePasswordFn()" type="text"
                    name="password" formControlName="password" required>
            </div>
            <div class="inputbox">
                <div class="form-check form-switch">
                    <input mdbCheckbox class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" />
                    Remember me
                </div>
                <!-- <input id="rememberMe" type="text" name="rememberMe" formControlName="rememberMe"> -->
            </div>
            <div class="inputbox">
                <button type="submit" [disabled]="!loginForm.valid">Login</button>
            </div>
        </div>
    </form>
</section>