
<section id="podcasts">

    <div class="container-fluid">
        <div class="row">
            <div class="col text-center">
                <h1>Podcasts</h1>
                <p>Our latest podcasts provide an insight to various excercise techniques</p>
            </div>
        </div>
        <div class="row">
            <div class="col podcastbox">
                <div *ngFor="let items of podcasts">
                    <div class="item">
                        <iframe [src]="items.url | safe:'resourceUrl'" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
                    <p>
                        In today's podcast we help inspire and motivate you to find your fittest and healthiest self
                        {{items.desc}}
                    </p>
                </div>
                </div>
            </div>
        </div>
      
    </div>

  
</section> 