<section id="preconsultform">
    <form [formGroup]="preConsultForm" (ngSubmit)="submit(preConsultForm.value)">
        <div class="container mt-3">
            <div class="row">
                <div class="col">
                    <h1 class="text-center"><u>Pre-Consult form</u></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <h2>GENERAL INFO</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <mat-form-field>
                        <input matInput placeholder="Your name*" formControlName="name">
                        <mat-error
                            *ngIf="!preConsultForm.controls['name'].valid && preConsultForm.controls['name'].touched">
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md">
                    <mat-form-field>
                        <input matInput placeholder="Phone number*" formControlName="phone">
                        <mat-error
                            *ngIf="!preConsultForm.controls['phone'].valid && preConsultForm.controls['phone'].touched">
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <mat-form-field>
                        <input matInput placeholder="Date of birth*" formControlName="dob">
                        <mat-error
                            *ngIf="!preConsultForm.controls['dob'].valid && preConsultForm.controls['dob'].touched">
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col-md">
                    <mat-form-field>
                        <input matInput placeholder="Email address" formControlName="email">
                        <mat-error
                            *ngIf="!preConsultForm.controls['email'].valid && preConsultForm.controls['email'].touched">
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Choose your primary health and fitness goal:</p>
                    <div class="space-between" formGroupName="fitnessGoals">
                        <mat-checkbox formControlName="weightLoss">Weight loss
                        </mat-checkbox>
                        <mat-checkbox formControlName="strength">Strength
                        </mat-checkbox>
                        <mat-checkbox formControlName="bodyShape">Body Shape
                        </mat-checkbox>
                        <mat-checkbox formControlName="sports">Sports
                        </mat-checkbox>
                        <mat-checkbox formControlName="health">Health
                        </mat-checkbox>
                        <mat-checkbox formControlName="injuryRecovery">Injury
                            Recovery</mat-checkbox>
                    </div>
                </div>
            </div>
        </div>
        <div class="space-1"></div>
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <h2>LIFESTYLE</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <mat-form-field>
                        <input matInput placeholder="Occupation" formControlName="occupation">
                        <mat-error
                            *ngIf="!preConsultForm.controls['occupation'].valid && preConsultForm.controls['occupation'].touched">
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <p>Activity Level</p>
                    <div>
                        <mat-radio-group class="space-between" formControlName="activityLevel"
                            aria-label="Select an option">
                            <mat-radio-button value="Sedentary">Sedentary</mat-radio-button>
                            <mat-radio-button value="Moderate">Moderate</mat-radio-button>
                            <mat-radio-button value="Active">Active</mat-radio-button>
                            <mat-radio-button value="HighlyActive">Highly Active</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md">
                    <mat-slide-toggle formControlName="smoke">Do you smoke?</mat-slide-toggle>
                </div>
                <div class="row mt-3">
                    <div class="col-md">
                        <mat-slide-toggle formControlName="drink">Do you drink alcohol regularly?</mat-slide-toggle>
                    </div>
                </div>
            </div>

        </div>
        <div class="space-1"></div>
        <div class="container">
            <div class="row">
                <div class="col-md">
                    <h2>INJURIES / MEDICATIONS</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <p>Have you ever been diagnosed with any significant medical conditions or injuries:
                        (fill in text box)
                    </p>
                    <mat-form-field>
                        <textarea matInput placeholder="Any past injuries..." formControlName="injuries"></textarea>
                        <mat-error
                            *ngIf="!preConsultForm.controls['injuries'].valid && preConsultForm.controls['injuries'].touched">
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <p>Do you have any current medical conditions or injuries that will affect your training:
                    </p>
                    <mat-form-field>
                        <textarea matInput placeholder="Current medical conditions..."
                            formControlName="medical"></textarea>
                        <mat-error
                            *ngIf="!preConsultForm.controls['medical'].valid && preConsultForm.controls['medical'].touched">
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md">
                    <h2>EXERCISE EXPERIENCE</h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md">
                    <mat-slide-toggle (change)="toggleMember($event)" formControlName="gymMember">Have you been a member
                        of a gym in the past?</mat-slide-toggle>
                </div>
            </div>

            <div *ngIf="showMember" class="row">
                <div class="col-md">
                    <p>How long were you a member for? (fill in text box)</p>
                    <mat-form-field>
                        <input matInput placeholder="How long were you member?" formControlName="howLong">
                        <mat-error
                            *ngIf="!preConsultForm.controls['howLong'].valid && preConsultForm.controls['howLong'].touched">
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <mat-slide-toggle (change)="togglePersonalTraining($event)" formControlName="personalTraining">Have
                        you had Personal Training before?</mat-slide-toggle>
                </div>
            </div>

            <div *ngIf="showExperience" class="row">
                <div class="col-md">
                    <p>Please describe your experience? (fill in text box)
                    </p>
                    <mat-form-field>
                        <input matInput placeholder="Describe your experience?"
                            formControlName="personalTrainingExperience">
                        <mat-error
                            *ngIf="!preConsultForm.controls['personalTrainingExperience'].valid && preConsultForm.controls['personalTrainingExperience'].touched">
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div *ngIf="!showExperience" class="row">
                <div class="col-md">
                    <mat-slide-toggle formControlName="trainingSession">Have you thought about doing Personal Training
                        sessions before?</mat-slide-toggle>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <p>On a scale of 1 to 10 please describe the following:
                    </p>
                    <span>Stress</span>
                    <mat-slider thumbLabel formControlName="stress" tickInterval="1" step="1" min="0" max="10"
                        aria-label="units">
                    </mat-slider>
                    <span>Sleep</span>
                    <mat-slider thumbLabel formControlName="sleep" tickInterval="1" step="1" min="0" max="10"
                        aria-label="units">
                    </mat-slider>
                    <span>Energy level</span>
                    <mat-slider thumbLabel formControlName="energy" tickInterval="1" step="1" min="0" max="10"
                        aria-label="units">
                    </mat-slider>
                    <span>Motivation</span>
                    <mat-slider thumbLabel formControlName="motivation" tickInterval="1" step="1" min="0" max="10"
                        aria-label="units">
                    </mat-slider>
                </div>
            </div>
            <div formGroupName="currentExercise" class="container">
                <h2>Describe your current exercise routine:</h2>
                <div formGroupName="monday" class="row acttable">
                    <div class="col-md-2 d-flex day  justify-content-center align-items-center">
                        Monday
                    </div>
                    <div class="col-md-8">
                        <mat-form-field>
                            <input matInput placeholder="Activities" formControlName="mondayActivities">
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field>
                            <input matInput formControlName="mondayEffort" placeholder="Effort">
                        </mat-form-field>

                    </div>
                </div>
                <div formGroupName="tuesday" class="row acttable">
                    <div class="col-md-2 day d-flex  justify-content-center align-items-center">
                        Tuesday
                    </div>
                    <div class="col-md-8">
                        <mat-form-field>
                            <input matInput placeholder="Activities" formControlName="tuesdayActivities">
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field>
                            <input matInput formControlName="tuesdayEffort" placeholder="Effort">
                        </mat-form-field>

                    </div>
                </div>
                <div formGroupName="wednesday" class="row acttable">
                    <div class="col-md-2 day d-flex  justify-content-center align-items-center">
                        Wednesday
                    </div>
                    <div class="col-md-8">
                        <mat-form-field>
                            <input matInput placeholder="Activities" formControlName="wednesdayActivities">
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field>
                            <input matInput formControlName="wednesdayEffort" placeholder="Effort">
                        </mat-form-field>

                    </div>
                </div>
                <div formGroupName="thursday" class="row acttable">
                    <div class="col-md-2 day d-flex  justify-content-center align-items-center">
                        Thrusday
                    </div>
                    <div class="col-md-8">
                        <mat-form-field>
                            <input matInput placeholder="Activities" formControlName="thursdayActivities">
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field>
                            <input matInput formControlName="thursdayEffort" placeholder="Effort">
                        </mat-form-field>

                    </div>
                </div>
                <div formGroupName="friday" class="row acttable">
                    <div class="col-md-2 day d-flex  justify-content-center align-items-center">
                        Friday
                    </div>
                    <div class="col-md-8">
                        <mat-form-field>
                            <input matInput placeholder="Activities" formControlName="fridayActivities">
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field>
                            <input matInput formControlName="fridayEffort" placeholder="Effort">
                        </mat-form-field>

                    </div>
                </div>
                <div formGroupName="saturday" class="row acttable">
                    <div class="col-md-2 day d-flex  justify-content-center align-items-center">
                        Saturday
                    </div>
                    <div class="col-md-8">
                        <mat-form-field>
                            <input matInput placeholder="Activities" formControlName="saturdayActivities">
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field>
                            <input matInput formControlName="saturdayEffort" placeholder="Effort">
                        </mat-form-field>
                    </div>
                </div>
                <div formGroupName="sunday" class="row acttable">
                    <div class="col-md-2 day d-flex  justify-content-center align-items-center">
                        Sunday
                    </div>
                    <div class="col-md-8">
                        <mat-form-field>
                            <input matInput placeholder="Activities" formControlName="sundayActivities">
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field>
                            <input matInput formControlName="sundayEffort" placeholder="Effort">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col text-center">
                    <p class="text-danger" *ngIf="!preConsultForm.valid">Field marked with (*) are required.</p>
                    <button [disabled]="!preConsultForm.valid" type="submit">Submit</button>
                </div>
            </div>
        </div>
    </form>
</section>