@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
$font-poppins: "Poppins", sans-serif;
$clr-black-100: hsl(0, 0%, 0%);
$clr-black-200: hsl(0, 0%, 10%);
$clr-black-300: hsl(0, 0%, 20%);

$clr-white-100: hsl(0, 0%, 100%);

//Theme Dark
$clr-bg-body: #0f0f0f;
$clr-text-secondary: #868686;
$clr-text-primary: #fff;
$clr-bg-tan: #ffcf95;
$clr-bg-plum: #d9337d;
$clr-bg-orchid: #b14ec2;
$clr-bg-skyblue: #89d2fd;
$clr-bg-orange:#F9440A;
