<section id="calendar">
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col">
                <h1>Current Bookings</h1>
            </div>
        </div>
        <div class="row">

            <div class="col text-center">
                <button (click)="fnPrevious()"> <span class="material-icons material-icons-animation-1 previous-month">
                        undo
                    </span>
                </button>
            </div>
            <div class="col text-center">
                <button (click)="fnNext()"> <span class="material-icons material-icons-animation-1 next-month">
                        redo
                    </span>
                </button>
            </div>

        </div>
        <div class="row">
            <div class="col text-center">
                {{currentMonthYear.month}}
                {{currentMonthYear.year}}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <table>
                    <tr>
                        <th *ngFor="let day of days">
                            {{day}}
                        </th>
                    </tr>
                    <tr *ngFor="let weeks of Calendar">
                        <td *ngFor="let day of weeks.days">
                            {{day}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>
<div class="space-1"></div>
<section id="datepicker">
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col">
                <mat-form-field appearance="fill">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</section>