<section id="videos">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>Videos</h1>
                <p>Our latest videos provide an insight to various excercise techniques</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch" *ngFor="let items of videosUrl">
                <div class="card">
                    <iframe [src]="items.url | safe:'resourceUrl'" title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen>
                    </iframe>
                    <p>
                        {{items.desc}}
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>