<section id="membership">
    <div class="container-fluid">
        <div class="row text-center">
            <div parallax [config]="{initialValue: 00, ratio: .5}" class="container shadow  parallel legible-dark">
                <div class="space-2">
                </div>
                <h1>Matt Townsend</h1>
                <h2>MEMBERSHIP</h2>
                <h3>Get stream of exclusive content</h3>
                <div class="space-2">
                </div>
            </div>
        </div>

  
    </div>
    <div class="space-2"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>MEMBER BENIFITS</h1>
                <p>Our exclusive member only area provides you with special features</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                <div class="benifits-box">
                    <span class="material-icons">
                        live_tv
                    </span>
                    <h3>LIVE STREAMING</h3>
                    <hr>
                    <p>Matt offers LIVE streaming with Matt every week, whether it’s training in the gym, competing in
                        a
                        Strongman event or arm wrestling for lunch money. Once a month, Matt will discuss a PED and his
                        personal experience with it.</p>
                </div>
            </div>
            <div class="col-md">
                <div class="benifits-box">
                    <span class="material-icons">
                        fitness_center
                    </span>
                    <h3>STRENGTH PROGRAMS</h3>
                    <hr>
                    <p>Matt offers LIVE streaming with Matt every week, whether it’s training in the gym, competing in
                        a
                        Strongman event or arm wrestling for lunch money. Once a month, Matt will discuss a PED and his
                        personal experience with it.</p>
                </div>
            </div>

            <div class="col-md">
                <div class="benifits-box">
                    <span class="material-icons">
                        trending_up
                    </span>
                    <h3>PROGRESS TRACKING</h3>
                    <hr>
                    <p>Matt offers LIVE streaming with Matt every week, whether it’s training in the gym, competing in
                        a
                        Strongman event or arm wrestling for lunch money. Once a month, Matt will discuss a PED and his
                        personal experience with it.</p>
                </div>
            </div>
        </div>

        
        <div class="row">
            <div class="col-md">
                <div class="benifits-box">
                    <span class="material-icons">
                        local_library
                    </span>
                    <h3>EXERCISE LIBRARY</h3>
                    <hr>
                    <p>Matt offers LIVE streaming with Matt every week, whether it’s training in the gym, competing in
                        a
                        Strongman event or arm wrestling for lunch money. Once a month, Matt will discuss a PED and his
                        personal experience with it.</p>
                </div>
            </div>
            <div class="col-md">
                <div class="benifits-box">
                    <span class="material-icons">
                        model_training
                    </span>
                    <h3>TRAINING CONTENT</h3>
                    <hr>
                    <p>Matt offers LIVE streaming with Matt every week, whether it’s training in the gym, competing in
                        a
                        Strongman event or arm wrestling for lunch money. Once a month, Matt will discuss a PED and his
                        personal experience with it.</p>
                </div>
            </div>

            <div class="col-md">
                <div class="benifits-box">
                    <span class="material-icons">
                        discount
                    </span>
                    <h3>GEAR DISCOUNT</h3>
                    <hr>
                    <p>Matt offers LIVE streaming with Matt every week, whether it’s training in the gym, competing in
                        a
                        Strongman event or arm wrestling for lunch money. Once a month, Matt will discuss a PED and his
                        personal experience with it.</p>
                </div>
            </div>

        </div>

        

    </div>
    <div class="space-2"></div>
    <div class="container-fluid  legible-dark parallel-testimonial" parallax [config]="{initialValue: -250, ratio: .3}">
        <div class="row">
            <div class="col">
                <div class="space-1"></div>
                <div class="container text-center">
                    <span class="material-icons plan ">
                        rate_review
                    </span>
                    <h1 class="quote text-center"> TESTIMONIALS - WHAT MEMBER SAY</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <p>I purchased your program! It helped me get a 455 lb squat and a 315 lb bench. I hit these
                                numbers when I was 17. I just turned 18 a few days ago.</p>
                            <small>Laura</small>
                        </div>
                        <div class="col-md-6">
                            <p>Hey! I just hit a 440 lb deadlift (55 lb PR) after purchasing your peaking program. It
                                really helped me a lot in the squat and bench as well! Thank you! 16 years old at 180
                                lbs bodyweight.</p>
                            <small>Jack</small>

                        </div>
                    </div>
                </div>
                <div class="space-1"></div>
            </div>
        </div>
    </div>
    <div class="space-2"></div>
    <div class="container alinks">
        <div class="row">
            <h1>Membership Plans</h1>
            <div class="col-md-6 ">
                <div class="plan">
                    <h2>Monthly plan <span class="text-light">($9/Month)</span></h2>
                    <hr>
                    <p>Get unlimited access to all member content and live streaming, billed monthly.</p>
                    <a [routerLink]="['/monthly']">Select monthly</a>

                </div>
            </div>
            <div class="col-md-6">
                <div class="plan">
                    <h2>Annual plan <span class="text-light">($87/year)</span></h2>
                    <hr>
                    <p>Get unlimited access to all member content and live streaming, billed annually.</p>
                    <a [routerLink]="['/annually']">Select annually</a>
                </div>
            </div>
        </div>
        
    </div>



    <div class="space-3"></div>
    <div class="space-3"></div>
    <div class="space-3"></div>
    <div class="space-3"></div>
    <div class="space-3"></div>
</section>